.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}

@media (max-width: 800px) {
    .root svg {
        width: 90px;
        height: 16.67px;
    }
}